@font-face {
    font-family: Rio Grande;
    src: url('./fonts/RioGrande.ttf');
}


html {
    background: url('./img/10_additional/6zif_0t9r_210426_generated.png') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: 'Rio Grande';
    margin: 0;
}

h1 {
    font-family: 'Rio Grande', serif;
    text-shadow: 4px 2px 2px rgba(0, 0, 0, 0.3);
}

canvas {
    background-color: black;
}

.hud-button {
    width: 60px;
}

.hud-button:active {
    filter: brightness(80%);
}

.mirrored {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

.flex-row {
    display: flex;
}

.help-img {
    height: 60px;
}

#user-interface {
    display: flex;
    flex-direction: column;
}

.pos-relative {
    position: relative;
}

.centered {
    justify-content: center;
}

.gap-32 {
    gap: 32px;
}

.gap-8 {
    gap: 8px;
}

.text-centered {
    text-align: center;
}

#hud {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 8px;
    display: flex;
    justify-content: space-between;
}

