@font-face {
    font-family: Rio Grande;
    src: url('./fonts/RioGrande.ttf');
}

@font-face {
    font-family: Roboto;
    src: url('./fonts/Roboto-Regular.ttf');
}

.imprint {
    font-family: 'Roboto';
    display: block;
    margin: 16px;
    height: unset;
}

.imprint-headline {
    font-family: 'Roboto';
    text-shadow: none;
    text-decoration: none;
    color: unset;
}

.d-none {
    display: none !important;
}

.bg-img {
    background: url('./img/10_additional/6zif_0t9r_210426_generated.png') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: 'Rio Grande';
    margin: 0;
}

h1 {
    font-family: 'Rio Grande', serif;
    text-shadow: 4px 2px 2px rgba(0, 0, 0, 0.3);
}

canvas {
    background-color: white;
    display: block;
}

.hud-button {
    width: 40px;
}

.hud-button:hover {
    filter: brightness(80%);
    cursor: pointer;
}

.hud-button:active {
    filter: brightness(60%);
}

.mirrored {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

.flex-row {
    display: flex;
}

.help-img {
    height: 60px;
}

.pos-relative {
    position: relative;
    height: 480px;
}

.centered {
    justify-content: center;
}

.gap-32 {
    gap: 32px;
}

.text-centered {
    text-align: center;
}

#hud-top {
    position: absolute;
    top: 0;
    right: 0;
    padding: 8px;
    z-index: 9;
}

#hud-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 8px;
    display: flex;
    justify-content: space-between;
    z-index: 10;
}

#startscreen {
    position: absolute;
    top: 0;
    left: 0;
    width: 720px;
    height: 480px;
    z-index: 12;
}

#imprint-overlay {
    z-index: 3;
    align-items: flex-start;
    padding-top: 130px;
}

#button-start {
    z-index: 13;
    bottom: 0;
    height: 75px;
    font-size: 24px;
}

#button-try-again {
    z-index: 16;
    bottom: 0;
    height: 75px;
    font-size: 24px;
}

.centered-buttons {
    position: absolute;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.centered-buttons img {
    width: 120px;
}

.centered-buttons div {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
}

.centered-buttons a {
    color: unset;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.centered-buttons div:hover {
    filter: brightness(80%);
    cursor: pointer;
}

.centered-buttons a:hover {
    filter: brightness(80%);
    cursor: pointer;
}

.centered-buttons div:active {
    filter: brightness(60%);
}

.centered-buttons a:active {
    filter: brightness(60%);
}

.endscreen {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 720px;
    height: 480px;
    z-index: 14;
}

#endscreen-game-won {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 48px;
    background-color: rgba(0, 0, 0, 0.3);
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding-top: 100px;
    background-color: rgba(0, 0, 0, 0.3);
}

@media only screen and (max-width: 720px) {

    canvas {
        width: 100%;
    }

    .hud-button {
        width: 6vw;
    }

    .centered-buttons img {
        width: 17vw;
    }

    .help-img {
        height: 8vw;
    }

    .overlay {
        padding-top: 14vw;
    }

    #imprint-overlay {
        padding-top: 14vw;
    }

    #button-start {
        font-size: 4vw;
    }

    .centered-buttons div {
        font-size: 2vw;
    }

    .pos-relative {
        width: 100%;
        height: 67vw;
    }

    .endscreen {
        width: 100%;
        height: 67vw;
    }
}

@media only screen and (max-height: 480px) {

    canvas {
        height: 100vh;
    }

    .pos-relative {
        height: 100vh;
    }
}