/*-------------
positioning-classes
-------------*/

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.button img {
    width: 120px;
}

.pos-absolute {
    position: absolute;
}




.centered-buttons {
    position: absolute;
    left: 0;
    right: 0;

    gap: 16px;
}

.centered-buttons img {
    width: 120px;
}

.centered-buttons div {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
}





.flex-row {
    display: flex;
}


.help-img {
    height: 60px;
}

.centered {
    justify-content: center;
}

.gap-32 {
    gap: 32px;
}

.text-centered {
    text-align: center;
}



.hud-button {
    width: 40px;
}

.endscreen {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 13;
}

@media only screen and (max-width: 720px) {

    main {
        width: 100%;
        height: auto;
    }

    .hud-button {
        width: 6vw;
    }

    .button img {
        width: 22vw;
    }

    .button span {
        font-size: 3vw;
    }

    #button-start span {
        font-size: 4vw;
    }

    #imprint-overlay {
        padding-top: 18vw;
        height: calc(100% - 18vw);
    }

    #help-overlay {
        padding-top: 18vw;
        height: calc(100% - 18vw);
    }

    .help-img {
        height: 8vw;
    }





    .endscreen {
        width: 100%;
        height: 67vw;
    }
}

@media only screen and (max-height: 480px) {

    main {
        height: 100%;
        width: auto;
    }
}