/*-------------
fonts
-------------*/
@font-face {
    font-family: Rio Grande;
    src: url('./fonts/RioGrande.ttf');
}

@font-face {
    font-family: Roboto;
    src: url('./fonts/Roboto-Regular.ttf');
}

/*-------------
imprint-pages
-------------*/
.imprint {
    font-family: 'Roboto';
    display: block;
    margin: 16px;
    height: unset;
}

.imprint-headline {
    font-family: 'Roboto';
    text-shadow: none;
    text-decoration: none;
    color: unset;
}


/*-------------
js utilities
-------------*/
.d-none {
    display: none !important;
}

.mirrored {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}


/*-------------
individual elements top -> down
-------------*/
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    font-family: 'Rio Grande';
    margin: 0;

    background: url('./img/10_additional/6zif_0t9r_210426_generated.png') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

main {
    position: relative;
    height: 480px;
    width: 720px;
}

canvas {
    background-color: white;
    display: block;
    width: 100%;
    height: 100%;
}

#startscreen {
    z-index: 12;
}

#button-start {
    z-index: 13;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    font-size: 24px;
    display: flex;
    justify-content: center;
    padding-bottom: 8px;
}

#button-start div {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

#button-start div span {
    position: absolute;
}

#hud-top {
    position: absolute;
    top: 0;
    right: 0;
    padding: 8px;
    z-index: 9;
}

#hud-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 8px;
    display: flex;
    justify-content: space-between;
    z-index: 10;
}



#imprint-overlay {
    z-index: 3;
    align-items: flex-start;
    padding-top: 130px;
}



#button-try-again {
    z-index: 16;
    bottom: 0;
    height: 75px;
    font-size: 24px;
}

#endscreen-game-won {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 48px;
    background-color: rgba(0, 0, 0, 0.3);
    color: #FEAC00;
}






/*-------------
non-positioning-properties
-------------*/

h1 {
    font-family: 'Rio Grande', serif;
    text-shadow: 4px 2px 2px rgba(0, 0, 0, 0.3);
}



#game-won-statistics-coins {
    font-size: 24px;
    color: black;
}




/*-------------
interactivity
-------------*/

.hud-button:hover {
    filter: brightness(80%);
    cursor: pointer;
}

.hud-button:active {
    filter: brightness(60%);
}

.centered-buttons div:hover {
    filter: brightness(80%);
    cursor: pointer;
}

.centered-buttons a:hover {
    filter: brightness(80%);
    cursor: pointer;
}

.centered-buttons div:active {
    filter: brightness(60%);
}

.centered-buttons a:active {
    filter: brightness(60%);
}